*.php text eol=lf

.*                          export-ignore
tests/                      export-ignore
src/ComposerScripts.php     export-ignore
phpunit.dist.xml            export-ignore
phpstan.dist.neon           export-ignore
phpstan-baseline.php        export-ignore
