parameters:
  dynamicConstantNames:
    - APP_NAMESPACE
    - CI_DEBUG
    - ENVIRONMENT
  universalObjectCratesClasses:
    - CodeIgniter\Entity\Entity

services:
  superglobalsHelper:
    class: CodeIgniter\PHPStan\Helpers\SuperglobalsHelper

  -
    class: CodeIgniter\PHPStan\NodeVisitor\UnsetOnSuperglobalsDimFetchVisitor
    tags:
      - phpstan.parser.richParserNodeVisitor

  -
    class: CodeIgniter\PHPStan\Type\SuperglobalsMethodDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension

rules:
  - CodeIgniter\PHPStan\Rules\Superglobals\SuperglobalsGlobalAssignRule
  - CodeIgniter\PHPStan\Rules\Superglobals\SuperglobalsOffsetAccessRule
  - CodeIgniter\PHPStan\Rules\Superglobals\SuperglobalsOffsetAssignRule
  - CodeIgniter\PHPStan\Rules\Superglobals\SuperglobalsOffsetUnsetRule
