parameters:
  dynamicConstantNames:
    - APP_NAMESPACE
    - CI_DEBUG
    - ENVIRONMENT
  universalObjectCratesClasses:
    - CodeIgniter\Entity\Entity

services:
  superglobalsHelper:
    class: CodeIgniter\PHPStan\Helpers\SuperglobalsHelper

  -
    class: CodeIgniter\PHPStan\Type\SuperglobalsMethodDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension

rules:
  - CodeIgniter\PHPStan\Rules\Superglobals\SuperglobalsAccessRule
