includes:
  - extension.neon
  - phpstan-baseline.php
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 10
  paths:
    - src
    - tests
  excludePaths:
    analyseAndScan:
      - src/ComposerScripts.php
      - tests/*/data/*
  tmpDir: build/phpstan
  bootstrapFiles:
    - bootstrap.php
  codeigniter:
    additionalModelNamespaces:
      - CodeIgniter\PHPStan\Tests\Fixtures\Type
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  checkImplicitMixed: true
  checkBenevolentUnionTypes: true
  checkMissingCallableSignature: true
  reportAlwaysTrueInLastCondition: true
  treatPhpDocTypesAsCertain: false
