parameters:
  bootstrapFiles:
    - ../bootstrap.php
  codeigniter:
    additionalServices:
      - CodeIgniter\PHPStan\Tests\Fixtures\InvalidServices
      - CodeIgniter\PHPStan\Tests\Fixtures\OtherServices
