parameters:
  featureToggles:
    listType: true
  bootstrapFiles:
    - ../bootstrap.php
  codeigniter:
    additionalModelNamespaces:
      - CodeIgniter\PHPStan\Tests\Fixtures\Type
    additionalServices:
      - CodeIgniter\PHPStan\Tests\Fixtures\Type\OtherServices
